@model DanielaMora_Examen.Models.DM_tabla1

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DM_tabla1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CuentaAhorro" /> @Html.DisplayNameFor(model => model.CuentaAhorro)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CuentaCorriente" /> @Html.DisplayNameFor(model => model.CuentaCorriente)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CitaConsulta" class="control-label"></label>
                <input asp-for="CitaConsulta" class="form-control" />
                <span asp-validation-for="CitaConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DineroDisponible" class="control-label"></label>
                <input asp-for="DineroDisponible" class="form-control" />
                <span asp-validation-for="DineroDisponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
