@model DanielaMora_Examen.Models.DM_tabla1

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DM_tabla1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDm" />
            <div class="form-group">
                <label asp-for="DM_Nombres" class="control-label"></label>
                <input asp-for="DM_Nombres" class="form-control" />
                <span asp-validation-for="DM_Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DM_Apellidos" class="control-label"></label>
                <input asp-for="DM_Apellidos" class="form-control" />
                <span asp-validation-for="DM_Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DM_CuentaAhorro" /> @Html.DisplayNameFor(model => model.DM_CuentaAhorro)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DM_CuentaCorriente" /> @Html.DisplayNameFor(model => model.DM_CuentaCorriente)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DM_CitaConsulta" class="control-label"></label>
                <input asp-for="DM_CitaConsulta" class="form-control" />
                <span asp-validation-for="DM_CitaConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DM_DineroDisponible" class="control-label"></label>
                <input asp-for="DM_DineroDisponible" class="form-control" />
                <span asp-validation-for="DM_DineroDisponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
